nav {
  display: flex;
  text-align: center;
}
.logo {
  margin: auto;
  width: 15rem;
  height: 10rem;
}
h1 {
  margin: 1rem auto;
}
.col {
  display: flex;
  flex-direction: column;
}
.showcase {
  display: flex;
}
.desc {
  display: flex;
  margin: 2rem;
}
.desc img {
  width: 2rem;
}
.desc img,
.desc .list {
  /* width: 15rem;
  height: 10rem; */
  flex-basis: 0;
  flex-grow: 1;
  padding: 2rem;
}
